{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block container %}
<div class="login-container">
    <h1>Login</h1>
    <div>
        <form action="">
            <label for="username">Username</label>
            <input type="text" name="Username" id="Username">
            <label for="username">Password</label>
            <input type="password" name="Password" id="Password">
            <input type="submit" value="Login" class="btn">
        </form>
    </div>
    <div>
        <p style="color: black; font-size: 1.4rem;">If have have no account <a href="{% url 'register' %}" style="color: blue;">Click
                me</a></p>
    </div>
</div>
{% endblock container %}